.imggal{
    background-image: url(../../../assets/gallery-s12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 420px;
    position: relative;
    width: 100%;
}
.innergallery{
    position: absolute;
    top: 40%;
    left: 30%;
}
.innergalleryh{
    font-size: 70px;
    color: white;
    font-weight: bolder;
    letter-spacing: 6px;
    width: 100%;
}
@media screen and (max-width:900px) {
    .imggal{
        height: 300px;
    }
    .innergalleryh{
        font-size: 30px;
    }
}

@media screen and (max-width:500px) {
    .imggal{
        height: 200px;
    }
    .innergalleryh{
        font-size: 15px;
    }
}