/* :root{
  
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #020203cc;
    width: 100%;
    position: fixed;
    font-family: sans-serif;
    color: white;
    z-index: 10;
}
.navigatebar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0px 10px;
    text-transform: uppercase;
}
nav ul{
    display: flex;
}
header h3{
    display: none;
    font-size: 30px;
    font-weight: 400;
}
header h2{
    font-size: 36px;
}
.navhov:hover{
    color: #fccb06;
}
.ico{
    color: black;
}
/* section 1 */

.box{
  width: 100%;
  object-fit: cover;
  position: relative;
}
.box .background{
  width: 100%;
  /* position: relative; */
}
.sec1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: absolute; */
    /* top: 100px; */
}
.left{

}
.phone{
    position: absolute;
    right: 0;
    top: 10px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid; */
    /* width: 100%; */
}

.ipd{
    /* position: absolute; */
    top: 50px;
    width: 100%;
    border: 2px solid;
}
.ipad{
    position: relative;
    width: 100%;
    border: 2px solid;
}
.ipadimg{
    position: absolute;  
    left: 75px;
    top: 40px; 
}
.ipe{
    position: relative;
    top: 150px;
    right: 90px;
    width: 100%;
}
.iphoneimg{
    position: relative; 
    bottom:100px;
    right: 220px;
}
.iphone{}


/* section2 */
.box2{
padding: 100px 0px;
}
/* .outerbox2{
    border: 2px solid;
} */
.innerbox2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* border: 2px solid; */
    padding: 20px 10px;
   
}
.innerbox2 h3{
    vertical-align: middle;
}
.iconbox{
    width: 100%;
    margin: 0px px;
    padding: 10px 50px;
    box-shadow:  20px 20px rgba(0, 0, 0, 0.04);
    transition: all 0.6s linear;
}
.iconbox h2 i{
    font-size: 40px;
    padding: 40px 0px;
}
.iconbox h4{
    padding: 40px 0px;
    text-transform: uppercase;
    font-size: 16px;
}
.iconbox h5{
    font-size: 20px;
    padding: 20px 0px;
    font-weight: 500;
} 
.iconbox p{
    font-size: 14px;
    color: #727272;
}
.iconbox h4 i{
    color: #fccb06;
    padding: 0px 5px;
}
.sec2icon:hover{
  color: #fccb06;
}
.iconbox:hover{
    transform: translateY(-5px);
}

/* home sec3 */
.sec3{
    display: flex;
    flex-wrap: wrap;
}
.sec3box{
    display: flex;
    /* width: 100%; */
    /* justify-content: space-between; */
    /* margin-right: -15px;
    margin-left: -15px; */
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
}
.sec3right{
    width: 50%;
    padding: 0px 10px;
}
.sec3left{
    width: 50%;
    padding: 0px 40px;
    text-align: justify;
}
.sec3left img{
    width: 100%;
}
.sec3right h4{
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 20px;
    color: #727272;
}
.sec3right h2{
    font-weight: 600;
    font-size: 35px;
}
.sec3right h2::after{
    content: "";
    width: 60px;
    height: 2px;
    display: block;
    background-color: #fccb06;
    margin: 15px 2px;
}
.sec3right p{
    padding: 40px 0px;
    color: #727272;
    font-size: 16px;
}

.sec3right ul{
    list-style: none;
}
.sec3right ul li{
    padding: 10px 0px;
    font-size: 15px;
    color: #727272;
}
.sec3right ul li i{
    color: black;
}
.sec3right a{
    border-radius: 5px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 40px 0px;
    display: inline-block;
}
.sec3hov:hover{
    background-color: #3e3e3e;
}

/* sec4 */
.sec4{
    background-image: url(/Project-Ashutosh/assets/image/cssimg.jpg);
    padding: 260px 0px;
    background-size: cover;
    text-align: center;
}

/* sec5 */
.sec5box{
    width: 100%;
    font-family: "Montserrat", sans-serif;
}
.sec5outer{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 50px 0px;
}
.spanimg{
    width: 100%;
    margin-top: 30px;
    background-color: #f0efef;
}
.spanimg .sec5img{
    width: 100%;
    padding: 10px ;
    object-fit: fill;
}
.sec5inner{
    /* width: 100%; */
    padding: 40px 60px;
    margin: 110px 20px;
    position: relative;
    margin-top: -100px;
    background-color: white;
    text-align: center;
    align-items: center;
    transition: all 0.3s linear;
}
.sec5inner h4{
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    border-bottom:1px solid #fccb06;
}

.sec5inner p{
    padding: 30px;
}
.sec5hov{
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.sec5inner:hover{
    transform: translateY(-5px);
    box-shadow: 1px 4px 20px -2px rgba(0, 0, 0, 0.2);
}
.sec5hov:hover{
    background-color: black;
    color: white;
}

/* sec6 */
.sec6box{
    width: 100%;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
}
.sec6list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid; */
}
.sec6list a{
    text-decoration: none;
    display: flex;
    /* justify-content: space-between; */
    /* border: 2px solid; */
    justify-content: center;
    padding: 20px 0px;
    color: black;
}
.sec6list table{
    border-collapse: collapse;
    width: 100%;
    border-color: #e5e5e5;
}
.sec6inner{
    display: flex;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-top: none;
}
.sec6innercontent ul li{
    list-style: none;
    padding: 10px 0px;
}
.sec6innercontent{
    width: 100%;
    padding: 10px;
}
.sec6innercontent a{
    border-radius: 5px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 40px 0px;
    display: inline-block;
}
.sec6img{
    width: 100%;
}
.sec6img img{
    width: 100%;
}
/* sec7 */
.sec7{
    background-image: url(/Project-Ashutosh/assets/image/sec7background.jpg);
    width: 100%;
    padding: 50px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    font-family: "Montserrat", sans-serif;
}
.sec7outer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sec7inner{
    display: flex;
    position: relative;
    border-radius: 6px;
     width: 300px;
    height: 300px;
    overflow: hidden;
    background: #1b262c;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    margin: 10px 10px;
    flex-wrap: wrap;
    transition: all 0.3s linear;
}
.sec7img{
    display: flex;
    position: relative;
    object-fit:fill;
    justify-content: center;
    transition: all 0.6s;
}
.sec7img img{
    width: 100%;
    transition: all 0.3s linear;
    background-color: rgba(0, 0, 0, 0.6);
}
.sec7content{
    width: 100%;
    height: 100%;
  padding: 20px;
  position: absolute;
  top: 20px; 
  left: 0px;
  right: 0px; 
  overflow: hidden;
  width: 100%;
  transition: 0.5s ease;
}
.sec7content h4{
    color: #fccb06;
}
.sec7content h2{
    color: white;
}
.sec7content .sec7hov{
    opacity: 0;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    transform: translateY(150px);
    transition: all 0.3s linear;
}
.sec7inner:hover .sec7hov{
   opacity: 1;
   transform: translateY(100px);
}
.sec7hov:hover{
     background-color: black;
   color: white;
}
.sec7inner:hover img{
    transform: scale(1.2);
}

/* sec8 */
.sec8{
    font-family: "Montserrat", sans-serif;
    width: 100%;
}
.sec8top{
  width: 100%;
  text-align: center;
  padding: 50px 0px;
}
.sec8top h4{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
}
.sec8top h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 3px;
}
.sec8line{
    /* content: ""; */
    width: 200px;
    height: 2px;
    display: inline-block;
    background-color: #fccb06;
}
.sec8list ul{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 10px ;
    margin-top: 50px;
}
.sec8list ul li{
   list-style: none;
   padding: 1px 5px;
   border: 1px solid #727272;
   margin-right: 5px;
   font: 400 12px / 32px "Roboto", sans-serif;
   transition: all 0.3s linear;
}
.sec8listhov:hover{
   color: white;
   background-color: #fccb06;
   transform: translateY(-2px);
   border-color: #fccb06;
}
.sec8img{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    transition: all 0.6s;
}
.sec8box{
   display: flex;
   justify-content: center;
   width: 100%;
   flex-wrap: wrap;
   transition: all 0.6s;
}
.realimg{
    width: 320px;
    height: 320px;
    object-fit:fill;
    justify-content: center;
    transition: all 0.6s;
}
.sec8textbox{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.582);
  overflow: hidden;
  transition: 0.5s ease;
}
.sec8text{
  white-space: nowrap; 
  color: white;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  top: 40%;
  right: 20px;
  transform: translateY(30px);
  transition: 0.5s ease;
}
.sec8text h3::after{
    content: "";
    width: 80px;
    height: 1px;
    display: block;
    background-color: white;
    margin: 10px 50px;
}
.realimg img{
    width: 100%;
    transition: 0.5s ease;
}
.sec8img:hover .sec8textbox{
    height: 100%;
}
.sec8img:hover img{
    transform: scale(1.2);
}
.sec8img:hover .sec8text{
   transform: translateY(0px);
}
.sec9{
    width: 100%;
    background-image: url(/Project-Ashutosh/assets/image/sec9back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
    font-family: "Montserrat", sans-serif;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.imgbox{
    display: flex;
    position: relative;
    /* border-radius: 16px; */
    overflow: hidden;
    background: #1b262c;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    margin: 10px 10px;
    flex-wrap: wrap;
}
.img{
    display: flex;
    width: 300px;
    height: 400px;
    object-fit:fill;
    justify-content: center;
    transition: all 0.6s;
}
.img:hover{
    transform: scale(1.1);
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.imgbox:hover .overlay {
  height: 80%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 1px solid;
  padding: 20px 0px;
}
.text i{
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
}
.text i:hover {
    color:#e3a127;
}
.text p{
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    padding: 20px 0px;
}
.sec9boxcon{
    position: relative;
}
.sec9box{
    position: absolute;
    bottom: -55px;
    left: 10%;
    padding: 20px 80px;
    background-color: white;
    margin: 20px 0px;
}
.sec9box h4{
    border-bottom: 1px solid #fccb06;
    padding: 5px;
}
.sec9box h5{
    padding: 20px 0px;
    font-weight: 300;
    color: #fccb06;
}
/* footer */
footer{
    background-color: black;
    color: white;
}
.wholefoot{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 100px 100px;
    font-family: sans-serif;
}
.foot {
    width: 100%;
    padding: 10px 10px;
    color: gray;
}
.I h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.foot h3{
    padding-bottom: 20px;
}

.II li{
   list-style:none;
}
.II li i{
   vertical-align: middle;
}
.footli:hover{
    color: white;
}
.III li i{
   vertical-align: middle;
}
.III li{
   list-style: none;
}
.footicon{
    display: flex;
    font-size: 20px;
}
.footicon i{
    padding: 20px 10px;
}
.footicon1:hover{
  color: #fccb06;
}

@media screen and (max-width:970px) {
      header h3{
        display: inline-block;
        justify-content: space-between;
        align-items: center;
      }
      header nav{
        display: none;
      }
      .wholefoot{
        flex-wrap: wrap;
      }
      .innerbox2{
        flex-wrap: wrap;
      }
      
      .sec3left{
        width: 100%;
      }
      .sec3right{
        width: 100%;
      }
      .sec3box{
        display: flex;
        flex-wrap: wrap;
      }
      .sec5outer{
        flex-wrap: wrap;
      }
      .sec6inner{
         /* padding: 120px 10px; */
         flex-wrap: wrap;
      }
}