/* :root{
  
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.sticky{
    position: fixed;
    bottom: 10px;
    right: 10px ;
}
header{
    background-color: #020203cc;
    width: 100%;
    position: fixed;
    font-family: sans-serif;
    color: white;
    z-index: 10;
}
.navigatebar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0px 10px;
    text-transform: uppercase;
}
nav li a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}
nav ul{
    display: flex;
}
header h3{
    display: none;
    font-size: 30px;
    font-weight: 400;
}
header h2{
    font-size: 36px;
}
.navhov:hover{
    color: #fccb06;
}
.ico{
    color: black;
}
/* section 1 */

.sectop{
  width: 100%;
  object-fit: cover;
  /* position: relative; */
  background-image: url(/Project-Ashutosh/assets/image/background.jpg);
  font-family: "Montserrat", sans-serif;
  padding: 50px ;
  /* display: flex;
  flex-wrap: wrap; */
  color: white;
}
.background{
  width: 100%;
}

.sec1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 10px;
    /* border: 2px solid; */
}
.left{
   /* width: 50%; */
   margin-top: 100px;
   /* border: 2px solid; */
}
.left h2{
    font-size: 50px;
    padding-bottom: 20px;
    animation: h2 1.5s linear 0.2s 1 normal forwards;
}
@keyframes h2 {
    0%{
        transform: scale(1.2);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.left p{
    font-size: 25px;
    padding-bottom: 30px;
    animation: h2 0.8s linear 0.2s 1 normal forwards;
}
.left a{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid #f5f5f5;
    padding: 10px;
    font-size: 15px;
    animation: seca 1.5s linear 0s 1 normal;
}
.sec1hov{
   animation: seca 1.5s linear 0s 1 normal forwards;
}
@keyframes seca{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
    
}
.sec1hov:hover{
   background-color: #f5f5f5;
   color: black;
   /* transform: translateY(-10px); */
}
.phone{
   /* width: 50%; */
   display: flex;
   justify-items: end;
   flex-wrap: wrap;
   position: relative;
   /* border: 2px solid; */
}

.ipd{
   display: flex;
   justify-content: end;
   padding-left: 40px;
   position: relative;
   /* width: 100%; */
   /* background-color: #1b262c; */
   /* border: 2px solid white; */
}
.ipad{
   position: relative;
   width: 450px; 
   display: block;
   /* border: 2px solid green; */
   /* animation: frame 1.4 linear 0.1s 1 normal forwards; */
   animation: frame 1.5s ease-in-out forwards;
}
.ipadimg{
    position: absolute;
    display: block;
    /* width: 100%; */
    top:70px;
    left: 100px;
   animation: h2 1.5s linear 0.4s 1 normal backwards;
}
.ipe{
    /* background-color: #202020; */
    display: block;
    position: absolute;
    top: 135px;
}

.iphone{
    display: block;
   position: relative;
   width: 250px;
   /* animation: frame 1.4 linear 0.1s 1 normal forwards; */
   animation: frame 0.5s ease-in-out forwards;
}
@keyframes frame {
    0%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0);
    }
    
}
.iphoneimg{
    display: block;
    /* width: 100%; */
    position: absolute;
    top: 60px;
    left: 40px;
    animation: h2 1.5s linear 0.4s 1 normal backwards;
}

/* section2 */
.box2{
padding: 100px 0px;
}
/* .outerbox2{
    border: 2px solid;
    box-shadow:  20px 20px rgba(0, 0, 0, 0.04);
} */
.innerbox2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* border: 2px solid; */
    padding: 10px 30px 0px 30px;
    /* background-color:rgba(0, 0, 0, 0.04); */
    overflow: hidden;
}
.innerbox2 h3{
    vertical-align: middle;
}
.iconbox{
    width: 100%;
    padding: 0px 50px;
    box-shadow:  20px 20px 20px rgba(0, 0, 0, 0.04);
    transition: all 0.3s linear;
    background-color: white;
    margin: 0px 20px;
    margin-top: 10px;
    border-bottom: 2px solid #fccb06;
}
.iconbox h2 i{
    font-size: 60px;
    padding: 40px 0px;
}
.iconbox h4{
    padding: 40px 0px;
    text-transform: uppercase;
    font-size: 16px;
}
.iconbox h5{
    font-size: 20px;
    padding: 20px 0px;
    font-weight: 500;
} 
.iconbox p{
    font-size: 14px;
    color: #727272;
}
.iconbox h4 i{
    color: #fccb06;
    padding: 0px 5px;
}
.sec2icon:hover{
  color: #fccb06;
}
.iconbox:hover{
    transform: translateY(-5px);
}

/* home sec3 */
.sec3{
    display: flex;
    flex-wrap: wrap;
}
.sec3box{
    display: flex;
    /* width: 100%; */
    /* justify-content: space-between; */
    /* margin-right: -15px;
    margin-left: -15px; */
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
}
.sec3right{
    width: 50%;
    padding: 0px 10px;
}
.sec3left{
    width: 50%;
    padding: 0px 40px;
    text-align: justify;
}
.sec3left img{
    width: 100%;
}
.sec3right h4{
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 20px;
    color: #727272;
}
.sec3right h2{
    font-weight: 600;
    font-size: 35px;
}
.sec3right h2::after{
    content: "";
    width: 60px;
    height: 2px;
    display: block;
    background-color: #fccb06;
    margin: 15px 2px;
}
.sec3right p{
    padding: 40px 0px;
    color: #727272;
    font-size: 16px;
}

.sec3right ul{
    list-style: none;
}
.sec3right ul li{
    padding: 10px 0px;
    font-size: 15px;
    color: #727272;
}
.sec3right ul li i{
    color: black;
}
.sec3right a{
    border-radius: 5px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 40px 0px;
    display: inline-block;
}
.sec3hov:hover{
    background-color: #3e3e3e;
}



/* sec4 */
.sec4{
    background-image: url(/Project-Ashutosh/assets/image/cssimg.jpg);
    padding: 260px 0px;
    background-size: cover;
    text-align: center;
}

/* sec5 */
.sec5box{
    width: 100%;
    font-family: "Montserrat", sans-serif;
}
.sec5outer{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 50px 0px;
}
.spanimg{
    width: 100%;
    margin-top: 30px;
    background-color: #f0efef;
}
.spanimg .sec5img{
    width: 100%;
    padding: 10px ;
    object-fit: fill;
}
.sec5inner{
    /* width: 100%; */
    padding: 40px 60px;
    margin: 110px 20px;
    position: relative;
    margin-top: -100px;
    background-color: white;
    text-align: center;
    align-items: center;
    transition: all 0.3s linear;
}
.sec5inner h4{
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    border-bottom:1px solid #fccb06;
}

.sec5inner p{
    padding: 30px;
}
.sec5hov{
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.sec5inner:hover{
    transform: translateY(-5px);
    box-shadow: 1px 4px 20px -2px rgba(0, 0, 0, 0.2);
}
.sec5hov:hover{
    background-color: black;
    color: white;
}

/* sec6 */
.sec6box{
    width: 100%;
    padding: 50px 20px;
    font-family: "Montserrat", sans-serif;
}

.sec6list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid; */
}
.sec6list a{
    text-decoration: none;
    display: flex;
    /* justify-content: space-between; */
    /* border: 2px solid; */
    justify-content: center;
    padding: 20px 10px;
    color: black;
}
.sec6list table{
    border-collapse: collapse;
    width: 100%;
    border-color: #e5e5e5;
    font-weight: 600;
}
td:hover a{
    color: #fccb06;
}
.sec6inner{
    display: flex;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-top: none;
}
.sec6innercontent ul li{
    list-style: none;
    padding: 10px 0px;
    color: #565656;
}
.sec6innercontent{
    width: 100%;
    padding: 10px;
}
.sec6innercontent p{
    padding: 10px 0px;
    color: #515151;
}
.sec6innercontent a{
    border-radius: 5px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 40px 0px;
    display: inline-block;
}
.sec6innercontent h3{
    color: #727272;
    font-weight: 400;
    padding: 20px 0px;
}
.sec6innercontent h2{
    padding-bottom: 20px;
}
.sec6img{
    width: 100%;
}
.sec6img img{
    width: 100%;
    padding: 20px;
}
/* sec7 */
.sec7{
    background-image: url(/Project-Ashutosh/assets/image/sec7background.jpg);
    width: 100%;
    padding: 50px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    font-family: "Montserrat", sans-serif;
}
.sec7outer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sec7inner{
    display: flex;
    position: relative;
    border-radius: 6px;
     width: 300px;
    height: 300px;
    overflow: hidden;
    background: #1b262c;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    margin: 10px 10px;
    flex-wrap: wrap;
    transition: all 0.3s linear;
    
}
.sec7img{
    
    display: flex;
    position: relative;
    object-fit:fill;
    justify-content: center;
    transition: all 0.6s;
}
.sec7img img{
    width: 100%;
    transition: all 0.3s linear;
    background-color: rgba(0, 0, 0, 0.6);
}
.sec7content{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  padding: 20px;
  position: absolute;
   
  left: 0px;
  right: 0px; 
  overflow: hidden;
  width: 100%;
  transition: 0.5s ease;
}
.sec7content h4{
    color: #fccb06;
}
.sec7content h2{
    color: white;
}
.sec7content .sec7hov{
    opacity: 0;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    transform: translateY(150px);
    transition: all 0.3s linear;
}
.sec7inner:hover .sec7hov{
   opacity: 1;
   transform: translateY(100px);
}
.sec7hov:hover{
     background-color: black;
   color: white;
}
.sec7inner:hover img{
    transform: scale(1.2);
}

/* sec8 */
.sec8{
    font-family: "Montserrat", sans-serif;
    width: 100%;
}
.sec8top{
  width: 100%;
  text-align: center;
  padding: 50px 0px;
}
.sec8top h4{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
}
.sec8top h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 3px;
}
.sec8line{
    /* content: ""; */
    width: 200px;
    height: 2px;
    display: inline-block;
    background-color: #fccb06;
}
.sec8list ul{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 10px ;
    margin-top: 50px;
}
.sec8list ul li{
   list-style: none;
   padding: 1px 5px;
   border: 1px solid #727272;
   margin-right: 5px;
   font: 400 12px / 32px "Roboto", sans-serif;
   transition: all 0.3s linear;
}
.sec8listhov:hover{
   color: white;
   background-color: #fccb06;
   transform: translateY(-2px);
   border-color: #fccb06;
}
.sec8img{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    transition: all 0.6s;
}
.sec8box{
   display: flex;
   justify-content: center;
   width: 100%;
   flex-wrap: wrap;
   transition: all 0.6s;
}
.realimg{
    width: 320px;
    height: 320px;
    object-fit:fill;
    justify-content: center;
    transition: all 0.6s;
}
.sec8textbox{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.582);
  overflow: hidden;
  transition: 0.5s ease;
}
.sec8text{
  white-space: nowrap; 
  color: white;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  top: 40%;
  right: 20px;
  transform: translateY(30px);
  transition: 0.5s ease;
}
.sec8text h3::after{
    content: "";
    width: 80px;
    height: 1px;
    display: block;
    background-color: white;
    margin: 10px 50px;
}
.realimg img{
    width: 100%;
    transition: 0.5s ease;
}
.sec8img:hover .sec8textbox{
    height: 100%;
}
.sec8img:hover img{
    transform: scale(1.2);
}
.sec8img:hover .sec8text{
   transform: translateY(0px);
}


/* blogsec1 */
.blogsec1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(/Project-Ashutosh/assets/image/sec1back.jpg);
    width: 100%;
    padding: 50px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: 50% 50%;
    font-family: "Montserrat", sans-serif;
    
}
.blogtop{
  padding: 100px 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.blogtop p{
    font-weight: 500;
}
/* sec9 */
.sec9{
    width: 100%;
    background-image: url(/Project-Ashutosh/assets/image/sec9back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
    font-family: "Montserrat", sans-serif;
    padding: 50px 0px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.imgbox{
    display: flex;
    position: relative;
    /* border-radius: 16px; */
    overflow: hidden;
    background: #1b262c;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    margin: 10px 10px;
    flex-wrap: wrap;
}
.img{
    display: flex;
    width: 300px;
    height: 400px;
    object-fit:fill;
    justify-content: center;
    transition: all 0.6s;
}
.img:hover{
    transform: scale(1.1);
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.imgbox:hover .overlay {
  height: 90%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  padding: 10px;
}
.text i{
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
}
.text i:hover {
    color:#e3a127;
}
.text p{
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    padding: 20px 0px;
}
.sec9boxcon{
    position: relative;
    margin: 20px 0px;
}
.sec9box{
    position: absolute;
    bottom: -55px;
    left: 10%;
    padding: 20px 6px;
    background-color: white;
    margin: 10px 5px;
    width: 257px;
}
.sec9box h4::after{
    content: "";
    width: 80px;
    height: 1px;
    display: block;
    background-color: #fccb06;
    margin: 10px 82px;
}
.sec9box h5{
    padding: 20px 0px;
    font-weight: 300;
    color: #fccb06;
    font-size: 12px;
    display: block;
}

/* sec10 */
.sec10{
    background-image: url(/Project-Ashutosh/assets/image/10back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
    padding: 50px 30px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}
.sec10top{
    padding: 0px 10px;
}
.sec10top h4{
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 20px;
    color: #c7c7c7;;
}
.sec10top h2{
    font-weight: 600;
    font-size: 35px;
    color: white;
}
.sec10top h2::after{
    content: "";
    width: 90px;
    height: 2px;
    display: block;
    background-color: #fccb06;
    margin: 15px 2px;
}
.sec10bot{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.sec10box{
    width: 300px;
    height: 200px;
    display: flex;
    margin: 10px 10px;
}
.sec10innerbox{
    width: 100%;
    padding: 40px;
    background-color: #202020;
    transition: all 0.3s ease-out 0s;
    color: #ababab;
    display: flex;
}
.sec10icon{
    padding: 10px 10px;
    font-size: 30px;
}
.sec10con h5{
    font-size: 25px;
    padding-bottom: 20px;
    margin-top: 10px;
}
.sec10innerbox:hover{
    background-color: white;
    color: black;
}
/* sec11 */
.sec11{
    font-family: "Montserrat", sans-serif;
}
.sec11bot{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}
.sec11box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin: 10px;
}
.sec11inner{
    width: 300px;
    text-align: justify;
}
.sec11inner h5{
    font-size: 18px;
    color: #272727;
    padding: 10px 0px;
}
.sec11inner h6{
    font-size: 18px;
}
.sec11inner p{
    padding: 10px 0px 20px 0px;
}
.sec11img{
    width: 100%;
}
.sec11line{
    width: 100%;
    height: 0.1px;
    background-color: #1b262c;
    margin: 10px 0px;
}
.afterline{
    display: flex;
    justify-content: space-between;
}
.afterline h4{
    padding: 10px 0px 10px 0px;
    color: #afafaf;
    font-weight: 400;
}
.sec11blak{
  position: absolute;
  background-color: white;
  padding: 5px 5px;
  top: 210px;
  right: 20px;
}
/* sec12 */
.sec12{
    background-image: url(/Project-Ashutosh/assets/image/sec12back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
    padding: 100px 0px;
}
.sec12whole{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-right: 20px;
}
.sec12box{
    position: relative;
    width: 50%;
    padding: 50px;
    background-color: #fff;
}
.sec12icon{
    position: absolute;
    left: 42%;
    top: -35px;
    text-align: center;
    font-size: 70px;
    color: #fccb06;
}


/* service */
.servicesec1{
    font-family: "Montserrat", sans-serif;
}
.servicebox{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 20px;
}
.servicecontent{
    padding: 20px 0px;
}
.servicecontent h2{
    padding: 16px 20px;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 50%;
}
.servicecontent h3{
    padding: 10px 0px;
    font-weight: 500;
    font-size: 18px;
}
.servicecontent p{
    padding: 10px 0px;
    font-size: 14px;
    color: #727272;
}
.sersecbox{
    display: flex;
    justify-content: space-between;
}
.sersecbox1{
    width: 400px;
    padding: 10px; 
}
/* service sectin 2 */
.servicesec2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(/Project-Ashutosh/assets/image/servicesec2back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
    padding: 50px 15px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}
.sec10top{
    padding: 0px 10px;
}
.sec10top h4{
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 20px;
    color: #c7c7c7;;
}
.sec10top h2{
    font-weight: 600;
    font-size: 35px;
    color: white;
}
.sec10top h2::after{
    content: "";
    width: 90px;
    height: 2px;
    display: block;
    background-color: #fccb06;
    margin: 15px 2px;
}
.servicebot{
    text-align: center;
    padding: 50px 10px;
}
.servicebotbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;    
    padding: 10px;
}
.servicesec2box{
    width: 200px;
}
.servicesec2box h2{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 30px;
    padding: 25px 30px;
    display: inline-block;
    border-radius: 50%;   
}
/* .servicesec2box h2 img{
    width: 14px;
    color: white;
} */
.servicesec2box h3{
     font-size: 30px;
     color: #fccb06;
     padding: 10px 0px;
}
.servicesec2box h5{
   color: white;
   padding: 5px 0px;
   font-size: 18px;
}
/* services sec3 */
.sec3{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
}
.sec3box{
    padding: 20px 10px;
    display: flex;
    /* width: 100%; */
    /* justify-content: space-between; */
    /* margin-right: -15px;
    margin-left: -15px; */
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
}
.sec3right{
    width: 50%;
    padding: 0px 10px;
}
.sec3left{
    width: 50%;
    padding: 0px 40px;
    text-align: justify;
}
.sec3left img{
    width: 100%;
}
.sec3right h4{
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 20px;
    color: #727272;
}
.sec3right h2{
    font-weight: 600;
    font-size: 35px;
}
.sec3right h2::after{
    content: "";
    width: 60px;
    height: 2px;
    display: block;
    background-color: #fccb06;
    margin: 15px 2px;
}
.sec3right p{
    padding: 40px 0px;
    color: #727272;
    font-size: 16px;
}

.sec3right ul{
    list-style: none;
}
.sec3right ul li{
    padding: 10px 0px;
    font-size: 15px;
    color: #727272;
}
.sec3right ul li i{
    color: black;
}
.sec3right a{
    border-radius: 5px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 40px 0px;
    display: inline-block;
}
.sec3hov:hover{
    background-color: #3e3e3e;
}
/* contact page */
.contactpage{
    width: 100%;
}
.wholecont{
   display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 10px;
    font-family: "Montserrat", sans-serif;
}
.contactform{
   width: 60%;
    padding: 0px 10px;
}
.formcon input{
    border: 1px solid #eee;
    background: #f9f9f9;
    margin: 5px 0px;
    box-shadow: inset 0px 1px 2px 0px rgba(238, 238, 238, 1);
    color: #101010;
    height: 45px;
    padding: 8px 0px;
    transition: all 0.3s ease-out 0s;
    width: 100%;
    border-radius: 0
}
textarea{
     border: 1px solid #eee;
    background: #f9f9f9;
    margin: 5px 0px;
    box-shadow: inset 0px 1px 2px 0px rgba(238, 238, 238, 1);
    color: #101010;
    height: 90px;
    padding: 8px 0px;
    transition: all 0.3s ease-out 0s;
    width: 100%;
    border-radius: 0
}
input:focus{
    border: 1px solid #fccb06;
    outline: medium none !important;
    transition: all 0.3s ease-out 0s;
}
textarea:focus{
    border: 1px solid #fccb06;
    outline: medium none !important;
    transition: all 0.3s ease-out 0s;   
}
.submit input{
    display: inline-block;
    background-color: #fccb06;
    padding: 10px 36px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
}


.contactright{
    width: 40%;
    padding: 0px 40px;
}
.contactright h2{
    font-size: 35px;
    padding-bottom: 20px;
}
.contactright h3{
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}
.contactright h4{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}
.contactright p{
    padding: 10px 0px;
    font-size: 15px;
    color: #727272;
}
/* contact page map section */
.map{
    width: 100%;
}
.map iframe{
    width: 100%;
}

/* blog single */
.blogsec2{
    width: 100%;
    padding: 20px 30px;
}
.blogbox{
   width: 100%;
}
.blogbox img{
    width: 100%;
    padding-bottom: 10px;
}
.blogcontent h1{
    font-size: 30px;
    padding: 20px 0px;
}
.afterh1{
    display: flex;
    font-size: 15px;
    color: #b9b9b9;
}
.afterh1 h5{
    padding-right: 10px;
    padding-bottom: 20px;
}
.blogcontent p{
    padding: 5px 0px;
    color: #727272;
}
.blogpara{
    font-size: 16px;
    font-style: italic;
    border-left: 3px solid #fccb06;
    padding: 15px 0 15px 20px;
    margin: 35px 0 35px 40px;
    /* line-height: 2; */
    font-weight: 500;
    color: #727272;
}

/* portfolio section */
.sec8list ul{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 10px ;
    margin-top: 50px;
}
.sec8list ul li{
   list-style: none;
   padding: 1px 5px;
   border: 1px solid #727272;
   color: #727272;
   margin-right: 5px;
   cursor: pointer;
   font: 400 12px / 32px "Roboto", sans-serif;
   transition: all 0.3s linear;
}
.sec8listho:hover{
    color: black;
}
.sec8listho:active{
   color:#fccb06;
   border-color: #fccb06;
}

.portout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 60px;
    flex-wrap: wrap;
}
.portbox{
    width: 300px;
    
    overflow: hidden;
    padding: 10px 10px;
}
.portimg{
    position: relative;
    margin: 0;
    padding: 0;
}
.portbox img{
    width: 100%;
    transition: all 0.3s ease-in;
}
.portover{
    position: absolute;
    display: flex;
    /* visibility: hidden; */
    justify-content: center;
    bottom: 4px;
    opacity: 0;
    width: 100%;
    transition: all 0.3s ease-in;
    overflow: hidden;
    transform: translateY(10px);
}
.portover a{
    /* display: inline-block; */
    cursor: pointer;
    border: 0px solid #fff;
    text-decoration: none;
    background: #fccb06;
    color: #FFFFFF;
    font: 400 12px / 30px "Open Sans", sans-serif;
    min-width: 90px;
    text-align: center;
    margin: 4px;
    padding: 0 6px;
    
}

.portbot{
    width: 100%;
    background: #f5f5f5;
    padding: 20px;
    font-size: 20px;
    margin: 0;
    transform: translateY(-4px);
    transition: all .3s;
}
.portbot h5{
    font-size: 13px;
}

.portbot:hover {
    background: #333;
    color: #fff;
}
.portbox:hover img{
    transform: translateY(-25px);
}
.portbox:hover .portover{
    opacity: 1;
    background-color: black;
    width: 100%;
}
.zoom{
    transition: all 0.3s ease-in;
    transform: translateX(-15px);
}
.view{
    transition: all 0.3s ease-in;
    transform: translateX(15px);
}
.portbox:hover .zoom{
    transform: translateX(0px);
}
.portbox:hover .view{
    transform: translateX(0px);
}
.portbox:hover .portover{
    transform: translateY(0);
}
/* blog left-side */
.blogsec2{
    width: 100%;
}
.fullblogsec2{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fullblogsec2 h2{
    font-weight: 400;
}
.blogleft{
    width: 35%;
    padding: 20px;
}
.lefttop{
    padding-bottom: 20px;
}
.lefttop h2{
    padding-bottom: 10px;
}
.lefttop ul li{
   list-style: none;
   padding: 10px 0px;
   color: #515151;
   border-bottom: 0.1px solid #323335;
   font-size: 15px;
}
.lefta:hover{
    color: #fccb06;
}
.lefttop a{
    color: #515151;
    text-decoration: none;
}
.midtop{
    padding-top: 30px;
}
.midtopcont{
    display: flex;
    /* flex-wrap: wrap; */
    padding: 20px 0px;
}
.midtopcont h2{
    margin-top: 10px;
}
.blogleftimg{
    width: 100px;
}
.blogleftimg img{
    width: 100%;
}
.cont{
    padding: 0px 20px;
}
.cont h6{
    padding-top: 10px;
    font-size: 13px;
    color: #b9b9b9;
    font-family: 'Roboto', sans-serif;
}
.cont a{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
}
.blogseclist{
    padding-top: 30px;
}
.blogseclist ul{
    display: flex;
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px 0px;
    margin: 10px 0px;
}
.blogseclist ul li{
   list-style: none;
   padding: 1px 10px;
   border: 1px solid #727272;
   margin-right: 15px;
   margin-bottom: 10px;
   font: 400 12px / 32px "Roboto", sans-serif;
   transition: all 0.3s linear;
}
.blogsec8listhov:hover{
   color: white;
   background-color: #fccb06;
   transform: translateY(-2px);
   border-color: #fccb06;
}
.realblogimg{
     width: 150px;
    height: 150px;
    object-fit:fill;
    justify-content: center;
    transition: all 0.6s;
}
.realblogimg img{
    width: 100%;
    padding: 3px;
}
.Featuredwork{
    padding-top:30px ;
}
.secimg{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.blogright{
    width: 65%;
    padding: 20px;
}
.blogrightbox{
    width: 100%;
    overflow: hidden;
    padding: 10px 0px;
}
.blogrightbox img{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.blogrightboximg{
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 0;
}
.blogrightcont{
    padding: 20px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}
.blogrightcont a{
   text-decoration: none;
}
.blogicon{
    padding-left: 10px;
}
.blogrightcont h6{
    color:#ababab;
    padding: 10px 0px;
}
.blogrightcont h2 a{
    color: #252525;
    font-weight: 400;
}
.blogrightcont p{
    padding: 10px 0px;
    padding-bottom: 30px;
}
.readmore{
    padding: 10px 20px;
    color: #727272;
    background-color: #101010;
    font-size: 14px;
}
.readmore:hover {
    color: #727272;
    background-color: #323335;
}
.blogrightbox:hover img{
      transform: scale(1.2);
}

.email1{
    border: 1px solid #e4e4e4;
    color: #999;
    font-size: 13px;
    font-weight: 600;
    line-height: 39px;
    padding: 0px 7px;
    margin-top: 10px;
}
.submit1{
    padding: 0px 10px;
    margin: 0px;
    height: 39px;
    color: #fff;
    border: 1px solid #fccb06;
    background-color: #fccb06;
    border-radius: 0;
    margin-top:10px ;
}
/* sec 13 */
.sec13{
    width: 100%;
    padding: 20px;
}
.sec13con{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.sec13box{
    width: 200px;
}
.sec13box img{
    width: 100%;
}
/* footer */
footer{
    background-color: black;
    color: white;
}

.wholefoot{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 100px 100px;
    font-family: sans-serif;
}
.foot {
    width: 100%;
    padding: 10px 10px;
    color: gray;
}
.I h2{
    font-size: 30px;
    padding-bottom: 20px;
    color: white;
}
.foot h3{
    padding-bottom: 20px;
    color: white;
}

.II li{
   list-style:none;
}
.II li i{
   vertical-align: middle;
}
.footli:hover{
    color: white;
}
.III li i{
   vertical-align: middle;
}
.III li{
   list-style: none;
}
.IV h5 span{
    color: white;
}
.footicon{
    display: flex;
    font-size: 20px;
}
.footicon i{
    padding: 20px 10px;
}
.footicon1:hover{
  color: #fccb06;
}

@media screen and (max-width:970px) {
      header h3{
        display: inline-block;
        justify-content: space-between;
        align-items: center;
      }
      header nav{
        display: none;
      }
      .wholefoot{
        flex-wrap: wrap;
      }
      .innerbox2{
        flex-wrap: wrap;
      }
      .left{
        width: 100%;
      }
      .phone{
        width: 100%;
        justify-items: start;
      } 
      .sec1{
        align-items: center;
      }
      
      .ipad {
        width:300px;
      }
      .ipadimg1{
        width: 200px;
      }
      .ipadimg{
        top: 50px;
      }
      .iphone{
        width: 180px;
        bottom: 60px;
      }
      .iphoneimg1{
        width: 130px;
      }
      .iphoneimg{
        left: 25px;
        top: -20px;
      }
    
      .sec3left{
        width: 100%;
      }
      .sec3right{
        width: 100%;
      }
      .sec3box{
        display: flex;
        flex-wrap: wrap;
      }
      .sec5outer{
        flex-wrap: wrap;
      }
      .sec6inner{
         /* padding: 120px 10px; */
         flex-wrap: wrap;
      }
      .sec10bot{
        width: 100%;
      }
      .sec10con h5{
        font-size: 20px;
      }
      .sec10con p{
         font-size: 10px;
      }
      .sec10box{
        width: 100%;
      }
      .sersecbox{
        flex-wrap: wrap;
      }
      .contactform{
        width: 100%;
      }
      .contactright{
        width: 100%;
      }
      .blogright {
        width: 100%;
      }
      .blogleft{
        width: 100%;
      }
}
@media screen and (max-width:425px) {
    .sectop{
        padding: 20px;
    }
    .phone{
        padding: 10px;
        left: -10px;
    }
     .ipad {
        width:200px;
      }
      .ipadimg1{
        width: 100px;
      }
      .ipadimg{
        top: 50px;
      }
      .iphone{
        width: 120px;
        bottom: 75px;
      }
      .iphoneimg1{
        width: 75px;
      }
      .iphoneimg{
        left: 25px;
        top: -35px;
      }
      /* .sec12whole{
        justify-content: center;
      } */
       .servicebotbox {
        justify-content: center;
       }
      .sec12box{
        padding: 30px 20px;
        width: 60%;
      }
      .sec12icon{
        left: 35%;
      }
      .wholefoot{
        padding: 50px;
      }
}