*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: "Poppins", sans-serif;
 }
p{
    font-family: "Raleway", sans-serif;
    padding: 10px 0px;
}
.service{
    margin: 10px 10px;
    border: 0px solid black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.services h2{
    text-align: center;
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: -30px;
}
.services hr{
    margin: 20px 555px;
    padding: 0px 0px;
}
.newhr{
   border: 2px solid blue;
   margin: -23px 600px;
   border-radius: 2px;
}
.servicep{
    text-align: center;
    margin: 10px;
    padding: 22px;
}
.service1{
    border: 0px solid black;
    width: 42%;
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    padding: 10px 10px;
    border-radius: 10px;
   transition:all 0.5s ease;
}
.icon2{
    border: 0px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 5px 20px;
    color: #5d57f4;
    height: 40px;
    background-color: rgba(92, 87, 244, 0.24);
    transition: all 1s ease;
    font-size: 10px;
}
a{
    text-decoration: none;
    color: #5d57f4;
}
.service1 i{
    padding: 2px 2px;
    margin: 2px 2px;
    color: #5d57f4;
    display:inline-block;
    font-size: 15px;
    vertical-align: -2px;
}
.service1 span{
    padding: 10px 0px;
    margin: 10px 0px;
}
.service1:hover{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-left: 3px solid #5d57f4;
    transform-origin: bottom;
    
    transform: scaleY(1);
}

.service1:hover .icon2 {

    background-color: #5d57f4;
    transform:rotateY(360deg);
}
.service1:hover .icon2 i{
color: white;
}

.service1:hover svg{
    color: white;
}
.service1:hover .material-icons{
    color: #5d57f4;
    transform: translateX(2px);
}
