
.other-players-swiper-wrapper {
    height: 100%;
}

.other-player-slide {
    height: auto; 
    min-height: 400px; 
    padding-bottom: 20px; 
}


.other-player-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%; 
}


.other-player-img {
    transition: transform 0.3s ease; 
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important; 
    background-color: #f40 !important; 
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    opacity: 1;
    padding: 10px ;
    border-radius: 25px;
    transition: opacity 0.2s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px !important; 
    font-weight: bold;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
}


.swiper-button-prev {
    left: 10px; 
}

.swiper-button-next {
    right: 10px; 
}

.swiper-pagination-bullet-active {
    background: #f40 !important;
}