*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.child{
    width: 300px;
    margin: 10px auto;
}
.child img{
    width: 100%;
}
.parent1{
    position: relative;
    bottom: 100px;
    background-color: rgba(255, 255, 255, 0.441);
    width: 85%;
    padding: 0px 20px;
    margin: 0px 20px;
    align-items: center;
}
.icons{
    padding-right:40px ;
    margin-right: 10px;
}
.content{
    position: relative;
    padding-left: 40px;
    margin-left:  10px;
    display: flex;
    align-items: center;

}
.content i{
    margin: 0px 5px;
}
.parent1{
    display: flex;

}
@media screen and (max-width:500px){
    .child{
        margin: 0%;
    }
    .parent{
        padding: 10px;
    }
}

